# top-most EditorConfig file
root = true

[*]
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
format_on_save = true

[*.{md,markdown}]
trim_trailing_whitespace = true
insert_final_newline = true
format_on_save = true

[*.cs]
indent_style = space
indent_size = 4

[*.{xaml,xml,csproj}]
indent_style = space
indent_size = 2

[*.ps]
indent_style = space
indent_size = 4

[*.{ts,js,json}]
indent_style = space
indent_size = 2
