<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net4-client" />
  <package id="Microsoft.Bcl" version="1.0.19" targetFramework="net4-client" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net4-client" />
  <package id="Microsoft.Bcl.Build" version="1.0.4" targetFramework="net4-client" />
  <package id="MonoGame.Framework.WindowsDX" version="3.4.0.459" targetFramework="net4-client" />
  <package id="MvvmLightLibs" version="4.4.32.1" targetFramework="net4-client" />
</packages>