<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TEdit.Properties.Settings>
            <setting name="TerrariaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Autosave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Automatic</value>
            </setting>
            <setting name="Telemetry" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TextureVisibilityZoomLevel" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ShowNews" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RealisticColors" serializeAs="String">
                <value>False</value>
            </setting>
        </TEdit.Properties.Settings>
    </userSettings>
</configuration>