<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="TEdit 3" Language="1033" Version="1.0.0.0" Manufacturer="BinaryConstruct" UpgradeCode="1d9a5baf-12ad-4a55-9e83-bbfd95c7c820">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="disk1.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TEdit">
          <Component Id="MainExecutable" Guid="dad85bf4-cc44-4e66-9502-0a6e6b37e114">
            <File Id="TEditXna.exe" Source="..\TEditXna\bin\Release\TEditXna.exe" KeyPath='yes' />
            <File Id="settings.xml" Source="..\TEditXna\bin\Release\settings.xml" />
            <File Id="BCCL.dll" Source="..\LIB\BCCL.dll" />
            <File Id="BCCL.Xna.dll" Source="..\LIB\BCCL.Xna.dll" />
            <Shortcut Id="TEditStartMenuShortcut"
              Directory="ProgramMenuDir"
              Name="TEdit 3"
              Description="TEdit 3"
              Icon="tedit.ico"
              WorkingDirectory="INSTALLFOLDER"
              Advertise="yes" />
            <?include FileAssociations.wxi ?>
            <!-- TODO: Insert files, registry keys, and other resources here. -->
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="TEdit">
          <Component Id="ProgramMenuDir" Guid="0519DC7A-1429-459E-819A-F01DC138001F" >
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />  
    <Icon Id="tedit.ico" SourceFile="..\TEditXna\Images\tedit.ico" />
    <Property Id="ARPPRODUCTICON">tedit.ico</Property>  
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Feature Id="ProductFeature" Title="TEdit" Level="1">
      <ComponentRef Id='MainExecutable' />
      <ComponentRef Id='ProgramMenuDir' />
    </Feature>
    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <!-- skip licence dialog -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
    </UI>
  </Product>
</Wix>