<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="TEdit 3" Language="1033" Version="3.5.15221.1943" Manufacturer="BinaryConstruct" UpgradeCode="1d9a5baf-12ad-4a55-9e83-bbfd95c7c820">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Media Id="1" Cabinet="disk1.cab" EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="TEdit">
          <Component Id="MainExecutable" Guid="dad85bf4-cc44-4e66-9502-0a6e6b37e114">
            <File Id="TEditXna.exe" Source="$(SolutionDir)TEditXna\bin\Release\TEditXna.exe" KeyPath='yes' />
            <File Id="settings.xml" Source="$(SolutionDir)TEditXna\bin\Release\settings.xml" />
            <File Id="GalaSoft.MvvmLight.dll" Source="$(SolutionDir)TEditXna\bin\Release\GalaSoft.MvvmLight.dll" />
            <File Id="GalaSoft.MvvmLight.Extras.dll" Source="$(SolutionDir)TEditXna\bin\Release\GalaSoft.MvvmLight.Extras.dll" />
            <File Id="Microsoft.Practices.ServiceLocation.dll" Source="$(SolutionDir)TEditXna\bin\Release\Microsoft.Practices.ServiceLocation.dll" />
            <File Id="Microsoft.Threading.Tasks.dll" Source="$(SolutionDir)TEditXna\bin\Release\Microsoft.Threading.Tasks.dll" />
            <File Id="Microsoft.Threading.Tasks.Extensions.Desktop.dll" Source="$(SolutionDir)TEditXna\bin\Release\Microsoft.Threading.Tasks.Extensions.Desktop.dll" />
            <File Id="Microsoft.Threading.Tasks.Extensions.dll" Source="$(SolutionDir)TEditXna\bin\Release\Microsoft.Threading.Tasks.Extensions.dll" />
            <File Id="System.Runtime.dll" Source="$(SolutionDir)TEditXna\bin\Release\System.Runtime.dll" />
            <File Id="System.Threading.Tasks.dll" Source="$(SolutionDir)TEditXna\bin\Release\System.Threading.Tasks.dll" />
            <File Id="System.Windows.Interactivity.dll" Source="$(SolutionDir)TEditXna\bin\Release\System.Windows.Interactivity.dll" />
            <Shortcut Id="TEditStartMenuShortcut"
              Directory="ProgramMenuDir"
              Name="TEdit 3"
              Description="TEdit 3"
              Icon="tedit.ico"
              WorkingDirectory="INSTALLFOLDER"
              Advertise="yes" />
            <RemoveRegistryKey Id="TEditXnaWorldBackupCleanup" Root="HKCR" Action="removeOnInstall" Key="TEditXna.World.Backup"/>
            <ProgId Id="TEditXna.World.TEdit" Description="TEdit World Backup File" Advertise="no" >
              <Extension Id="TEdit" ContentType="application/text" Advertise="no" >
                <Verb Id="open" Command="Open" TargetFile="TEditXna.exe" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="TEdit.World.Autosave" Description="TEdit World Autosave File" Advertise="no" >
              <Extension Id="wld_autosave" ContentType="application/text" Advertise="no" >
                <Verb Id="open" Command="Open" TargetFile="TEditXna.exe" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="TEdit.World.TEditAutosave" Description="TEdit Backup Autosave File" Advertise="no" >
              <Extension Id="TEdit_autosave" ContentType="application/text" Advertise="no" >
                <Verb Id="open" Command="Open" TargetFile="TEditXna.exe" Argument='"%1"' />
              </Extension>
            </ProgId>
            <ProgId Id="TEditXna.World.File" Description="Terraria World File" Advertise="no" >
              <Extension Id="wld" ContentType="application/text" Advertise="no" >
                <Verb Id="open" Command="Open" TargetFile="TEditXna.exe" Argument='"%1"' />
              </Extension>
            </ProgId>
            <!--<ProgId Id="TEditXna.World.Backup" Description="Terraria World Backup File" Advertise="no" >
              <Extension Id="bak" ContentType="application/text" Advertise="no" >
                <Verb Id="open" Command="Open" TargetFile="TEditXna.exe" Argument='"%1"' />
              </Extension>
            </ProgId>-->
          </Component>
          <!--<Component Id="AssociationWld" Guid="4F357816-38E0-4ACE-8C5D-C708CFC53DA3" KeyPath="yes" >

          </Component>
          <Component Id="AssociationBak" Guid="4B04D1E7-A7CC-4A60-9B5C-E34D9E57D8E4"  KeyPath="yes">
            
          </Component>-->
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="TEdit">
          <Component Id="ProgramMenuDir" Guid="0519DC7A-1429-459E-819A-F01DC138001F" >
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>
    <!-- Optional Associations -->

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Icon Id="tedit.ico" SourceFile="$(SolutionDir)TEditXna\Images\tedit.ico" />
    <Property Id="ARPPRODUCTICON">tedit.ico</Property>
    <!--<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />-->
    <Feature Id="ProductFeature" Title="TEdit" Level="1">
      <Feature Id="MainProgram" Level="1" Title="TEdit" Absent="disallow">
        <ComponentRef Id='MainExecutable' />
      </Feature>
      <Feature Id="StartMenu" Level="1" Title="Start Menu Shortcuts">
        <ComponentRef Id='ProgramMenuDir' />
      </Feature>
    </Feature>
    <UI>
      <UIRef Id="WixUI_FeatureTree" />
      <!-- skip licence dialog -->
      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="3">1</Publish>
    </UI>
  </Product>
  <Fragment>
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
  </Fragment>
  <Fragment>
    <Upgrade Id="1d9a5baf-12ad-4a55-9e83-bbfd95c7c820">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>
  </Fragment>
  <Fragment>
    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize"></RemoveExistingProducts>
    </InstallExecuteSequence>
  </Fragment>
</Wix>