
name: .NET Core Desktop

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4
    
        # Install the .NET Core workload
        - name: Setup .NET
          uses: actions/setup-dotnet@v3
          with:
            dotnet-version: '8.0.x'
    
        # Create the app package by building and packaging the Windows Application Packaging project
        - name: Create the app package
          shell: pwsh
          run: ./build.ps1
