name: .NET Core Desktop CI

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      # Install the .NET Core workload
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Install Velopack CLI
        run: dotnet tool install -g vpk

      - name: Build and package
        shell: pwsh
        run: ./build.ps1

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: TEdit-ci-${{ github.run_number }}
          path: release/TEdit*.zip
          retention-days: 7
