<?xml version="1.0"?>

<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="textureCache" pollingInterval="00:00:10" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>