<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <GlobalColors>
    <GlobalColor name="Sky" color="#FF9BD1FF" />
    <GlobalColor name="Earth" color="#FF583D2E" />
    <GlobalColor name="Rock" color="#FF4A433C" />
    <GlobalColor name="Hell" color="#FF000000" />
    <GlobalColor name="Lava" color="#F0FF1E00" />
    <GlobalColor name="Water" color="#80000CFF" />
  </GlobalColors>
  <Tiles>
    <Tile num="0" name="Dirt" color="#ff916a4f" />
    <Tile num="1" name="Stone" color="#ff808080" />
    <Tile num="2" name="Grass" color="#ff1cd85e" />
    <Tile num="3" name="Plants" color="#ff0d6524" isFramed="true" />
    <Tile num="4" name="Torches" color="#fffd3e03" />
    <Tile num="5" name="Trees" color="#ff634631" isFramed="true" />
    <Tile num="6" name="Iron" color="#ff6b594e" />
    <Tile num="7" name="Copper" color="#ffc6561d" />
    <Tile num="8" name="Gold" color="#ffb9a417" />
    <Tile num="9" name="Silver" color="#ffd9dfdf" />
    <Tile num="10" name="Door Closed" color="#ff00fff2" isFramed="true" />
    <Tile num="11" name="Door Open" color="#ff00fff2" isFramed="true" />
    <Tile num="12" name="HeartStone" color="#ffff0000" isFramed="true" />
    <Tile num="13" name="Bottle" color="#ff00fff2" isFramed="true" />
    <Tile num="14" name="Table" color="#ff00fff2" isFramed="true" />
    <Tile num="15" name="Chair" color="#ff00fff2" isFramed="true" />
    <Tile num="16" name="Anvil" color="#ff00fff2" isFramed="true" />
    <Tile num="17" name="Furnace" color="#ff00fff2" isFramed="true" />
    <Tile num="18" name="Workbench" color="#ff00fff2" isFramed="true" />
    <Tile num="19" name="Wooden Platform" color="#ff6B3A18" />
    <Tile num="20" name="Decorative Plants" color="#ff0d6524" isFramed="true" />
    <Tile num="21" name="Chest" color="#ffFFD800" isFramed="true" />
    <Tile num="22" name="Demonite" color="#ff625fa7" />
    <Tile num="23" name="Corruption Grass" color="#ff8d89df" />
    <Tile num="24" name="Corruption Plants" color="#ff8d89df" isFramed="true" />
    <Tile num="25" name="Ebonstone" color="#ff4b4a82" />
    <Tile num="26" name="Demon Altar" color="#ff9000FF" isFramed="true" />
    <Tile num="27" name="Sunflower" color="#ffC4FF14" isFramed="true" />
    <Tile num="28" name="Pot" color="#ff8C2726" isFramed="true" />
    <Tile num="29" name="PiggyBank" color="#ff00fff2" isFramed="true" />
    <Tile num="30" name="BlockWood" color="#ff684934" />
    <Tile num="31" name="ShadowOrb" color="#ff000000" isFramed="true" />
    <Tile num="32" name="Corruption Vines" color="#ff7a618f" />
    <Tile num="33" name="Candle" color="#fffd3e03" isFramed="true" />
    <Tile num="34" name="Chandler Copper" color="#fffd3e03" isFramed="true" />
    <Tile num="35" name="Chandler Silver" color="#fffd3e03" isFramed="true" />
    <Tile num="36" name="Chandler Gold" color="#fffd3e03" isFramed="true" />
    <Tile num="37" name="Meterorite" color="#ffdf9f89" />
    <Tile num="38" name="Block Stone" color="#ff909090" />
    <Tile num="39" name="Block Red Stone" color="#ffb200ff" />
    <Tile num="40" name="Clay" color="#ffac5b4d" />
    <Tile num="41" name="Block Blue Stone" color="#ff545498" />
    <Tile num="42" name="Light Globe" color="#ffef904b" isFramed="true" />
    <Tile num="43" name="Block Green Stone" color="#ff39A851" />
    <Tile num="44" name="Block Pink Stone" color="#ffB200FF" />
    <Tile num="45" name="Block Gold" color="#ffFFD514" />
    <Tile num="46" name="Block Silver" color="#ffE5E5E5" />
    <Tile num="47" name="Block Copper" color="#ffFF5900" />
    <Tile num="48" name="Spikes" color="#ff6d6d6d" />
    <Tile num="49" name="Candle Blue" color="#ff2B8FFF" />
    <Tile num="50" name="Books" color="#ff00fff2" isFramed="true" />
    <Tile num="51" name="Web" color="#ffffffff" />
    <Tile num="52" name="Vines" color="#ff0d6524" />
    <Tile num="53" name="Sand" color="#ffffda38" />
    <Tile num="54" name="Glass" color="#40FFFFFF" />
    <Tile num="55" name="Sign" color="#ffFFAE5E" isFramed="true" />
    <Tile num="56" name="Obsidian" color="#ff5751ad" />
    <Tile num="57" name="Ash" color="#ff44444c" />
    <Tile num="58" name="Hellstone" color="#ff662222" />
    <Tile num="59" name="Mud" color="#ff5c4449" />
    <Tile num="60" name="Jungle Grass" color="#ff8fd71d" />
    <Tile num="61" name="Jungle Plants" color="#ff8fd71d" isFramed="true" />
    <Tile num="62" name="Jungle Vines" color="#ff8ace1c" />
    <Tile num="63" name="Gem Sapphire" color="#ff2a82fa" />
    <Tile num="64" name="Gem Ruby" color="#ff2a82fa" />
    <Tile num="65" name="Gem Emerald" color="#ff2a82fa" />
    <Tile num="66" name="Gem Topaz" color="#ff2a82fa" />
    <Tile num="67" name="Gem Amethyst" color="#ff2a82fa" />
    <Tile num="68" name="Gem Diamond" color="#ff2a82fa" />
    <Tile num="69" name="Jungle Thorns" color="#ff5e3037" />
    <Tile num="70" name="Mushroom Grass" color="#ff5d7fff" />
    <Tile num="71" name="Mushroom Plants" color="#ffb1ae83" isFramed="true" />
    <Tile num="72" name="Mushroom Trees" color="#ff968f6e" isFramed="true" />
    <Tile num="73" name="Plants2" color="#ff0d6524" isFramed="true" />
    <Tile num="74" name="Plants3" color="#ff0d6524" isFramed="true" />
    <Tile num="75" name="Block Obsidian" color="#ffb200ff" />
    <Tile num="76" name="Block Hellstone" color="#ffC6001D" />
    <Tile num="77" name="Hellforge" color="#ffD50010" isFramed="true" />
    <Tile num="78" name="Decorative Pot" color="#ff00fff2" />
    <Tile num="79" name="Bed" color="#ff00fff2" isFramed="true" />
    <Tile num="80" name="Cactus" color="#ff00a500" />
    <Tile num="81" name="Coral" color="#ffe55340" isFramed="true" />
    <Tile num="82" name="Herb Sprouts" color="#ffff7800" isFramed="true" />
    <Tile num="83" name="Herb Stalks" color="#ffff7800" isFramed="true" />
    <Tile num="84" name="Herbs" color="#ffff7800" isFramed="true" />
    <Tile num="85" name="Tombstone" color="#ffc0c0c0" isFramed="true" />
    <Tile num="86" name="Loom" color="#ffff00ff" isFramed="true" />
    <Tile num="87" name="Piano" color="#ff00fff2" isFramed="true" />
    <Tile num="88" name="Dresser" color="#ff00fff2" isFramed="true" />
    <Tile num="89" name="Bench" color="#ff00fff2" isFramed="true" />
    <Tile num="90" name="Bathtub" color="#ff00fff2" isFramed="true" />
    <Tile num="91" name="Banner" color="#ff00fff2" isFramed="true" />
    <Tile num="92" name="Street Lamp" color="#ff00fff2" isFramed="true" />
    <Tile num="93" name="Tiki Torch" color="#ff00fff2" isFramed="true" />
    <Tile num="94" name="Keg" color="#ff00fff2" isFramed="true" />
    <Tile num="95" name="Chinese Lantern" color="#ff00fff2" isFramed="true" />
    <Tile num="96" name="Cooking Pot" color="#ff00fff2" isFramed="true" />
    <Tile num="97" name="Safe" color="#ffff00ff" isFramed="true" />
    <Tile num="98" name="Skull Lantern" color="#ffff00ff" isFramed="true" />
    <Tile num="99" name="UNKNOWN" color="#ffff00D0" isFramed="true" />
    <Tile num="100" name="Candelabra" color="#ffff00ff" isFramed="true" />
    <Tile num="101" name="Bookcase" color="#ffff00ff" isFramed="true" />
    <Tile num="102" name="Throne" color="#ffff00ff" isFramed="true" />
    <Tile num="104" name="GrandFather Clock" color="#ffff00ff" isFramed="true" />
    <Tile num="105" name="Statue" color="#ff00fff2" isFramed="true" />
    <Tile num="106" name="Sawmill" color="#ff00fff2" isFramed="true" />
  </Tiles>
  <Walls>
    <Wall num="0" name="Sky" color="#00000000" />
    <Wall num="1" name="WallStone" color="#ff424242" isHouse="true"  />
    <Wall num="2" name="WallDirt" color="#ff583d2e" />
    <Wall num="3" name="WallCorruption" color="#ff312545" />
    <Wall num="4" name="WallWood" color="#ff4a2e1c" isHouse="true"  />
    <Wall num="5" name="WallBrick" color="#ff454545" isHouse="true"  />
    <Wall num="6" name="WallRed" color="#ff500000" isHouse="true"  />
    <Wall num="7" name="WallBlue" color="#ff000060" />
    <Wall num="8" name="WallGreen" color="#ff005000" />
    <Wall num="9" name="WallPink" color="#ff48004F" />
    <Wall num="10" name="WallGold" color="#ff774707" isHouse="true" />
    <Wall num="11" name="WallSilver" color="#ff828282" isHouse="true" />
    <Wall num="12" name="WallCopper" color="#ff3F1907" isHouse="true" />
    <Wall num="13" name="WallHellstone" color="#ff3F0707" />
    <Wall num="14" name="WallObsidian" color="#ff000060" />
    <Wall num="15" name="WallPlayerMud" color="#ff005500" />
    <Wall num="16" name="WallPlayerDirt" color="#ff583d2e" isHouse="true"  />
    <Wall num="17" name="WallUNKNOWN" color="#ffFF00DC" isHouse="true"  />
    <Wall num="18" name="WallUNKNOWN" color="#ffFF00DC" isHouse="true"  />
    <Wall num="19" name="WallUNKNOWN" color="#ffFF00DC" isHouse="true"  />
    <Wall num="20" name="WallPlayerObsidian" color="#ff000060" isHouse="true"  />
  </Walls>
  <Items>
    <Item num="0" name="[empty]" />
    <Item num="1" name="Iron Pickaxe" />
    <Item num="2" name="Dirt Block" />
    <Item num="3" name="Stone Block" />
    <Item num="4" name="Iron Broadsword" />
    <Item num="5" name="Mushroom" />
    <Item num="6" name="Iron Shortsword" />
    <Item num="7" name="Iron Hammer" />
    <Item num="8" name="Torch" />
    <Item num="9" name="Wood" />
    <Item num="10" name="Iron Axe" />
    <Item num="11" name="Iron Ore" />
    <Item num="12" name="Copper Ore" />
    <Item num="13" name="Gold Ore" />
    <Item num="14" name="Silver Ore" />
    <Item num="15" name="Copper Watch" />
    <Item num="16" name="Silver Watch" />
    <Item num="17" name="Gold Watch" />
    <Item num="18" name="Depth Meter" />
    <Item num="19" name="Gold Bar" />
    <Item num="20" name="Copper Bar" />
    <Item num="21" name="Silver Bar" />
    <Item num="22" name="Iron Bar" />
    <Item num="23" name="Gel" />
    <Item num="24" name="Wooden Sword" />
    <Item num="25" name="Wooden Door" />
    <Item num="26" name="Stone Wall" />
    <Item num="27" name="Acorn" />
    <Item num="28" name="Lesser Healing Potion" />
    <Item num="29" name="Life Crystal" />
    <Item num="30" name="Dirt Wall" />
    <Item num="31" name="Bottle" />
    <Item num="32" name="Wooden Table" />
    <Item num="33" name="Furnace" />
    <Item num="34" name="Wooden Chair" />
    <Item num="35" name="Iron Anvil" />
    <Item num="36" name="Work Bench" />
    <Item num="37" name="Goggles" />
    <Item num="38" name="Lens" />
    <Item num="39" name="Wooden Bow" />
    <Item num="40" name="Wooden Arrow" />
    <Item num="41" name="Flaming Arrow" />
    <Item num="42" name="Shuriken" />
    <Item num="43" name="Suspicious Looking Eye" />
    <Item num="44" name="Demon Bow" />
    <Item num="45" name="War Axe of the Night" />
    <Item num="46" name="Light's Bane" />
    <Item num="47" name="Unholy Arrow" />
    <Item num="48" name="Chest" />
    <Item num="49" name="Band of Regeneration" />
    <Item num="50" name="Magic Mirror" />
    <Item num="51" name="Jester's Arrow" />
    <Item num="52" name="Angel Statue" />
    <Item num="53" name="Cloud in a Bottle" />
    <Item num="54" name="Hermes Boots" />
    <Item num="55" name="Enchanted Boomerang" />
    <Item num="56" name="Demonite Ore" />
    <Item num="57" name="Demonite Bar" />
    <Item num="58" name="Heart" />
    <Item num="59" name="Corrupt Seeds" />
    <Item num="60" name="Vile Mushroom" />
    <Item num="61" name="Ebonstone Block" />
    <Item num="62" name="Grass Seeds" />
    <Item num="63" name="Sunflower" />
    <Item num="64" name="Vilethorn" />
    <Item num="65" name="Starfury" />
    <Item num="66" name="Purification Powder" />
    <Item num="67" name="Vile Powder" />
    <Item num="68" name="Rotten Chunk" />
    <Item num="69" name="Worm Tooth" />
    <Item num="70" name="Worm Food" />
    <Item num="71" name="Copper Coin" />
    <Item num="72" name="Silver Coin" />
    <Item num="73" name="Gold Coin" />
    <Item num="74" name="Platinum Coin" />
    <Item num="75" name="Fallen Star" />
    <Item num="76" name="Copper Greaves" />
    <Item num="77" name="Iron Greaves" />
    <Item num="78" name="Silver Greaves" />
    <Item num="79" name="Gold Greaves" />
    <Item num="80" name="Copper Chainmail" />
    <Item num="81" name="Iron Chainmail" />
    <Item num="82" name="Silver Chainmail" />
    <Item num="83" name="Gold Chainmail" />
    <Item num="84" name="Grappling Hook" />
    <Item num="85" name="Iron Chain" />
    <Item num="86" name="Shadow Scale" />
    <Item num="87" name="Piggy Bank" />
    <Item num="88" name="Mining Helmet" />
    <Item num="89" name="Copper Helmet" />
    <Item num="90" name="Iron Helmet" />
    <Item num="91" name="Silver Helmet" />
    <Item num="92" name="Gold Helmet" />
    <Item num="93" name="Wood Wall" />
    <Item num="94" name="Wood Platform" />
    <Item num="95" name="Flintlock Pistol" />
    <Item num="96" name="Musket" />
    <Item num="97" name="Musket Ball" />
    <Item num="98" name="Minishark" />
    <Item num="99" name="Iron Bow" />
    <Item num="100" name="Shadow Greaves" />
    <Item num="101" name="Shadow Scalemail" />
    <Item num="102" name="Shadow Helmet" />
    <Item num="103" name="Nightmare Pickaxe" />
    <Item num="104" name="The Breaker" />
    <Item num="105" name="Candle" />
    <Item num="106" name="Copper Chandelier" />
    <Item num="107" name="Silver Chandelier" />
    <Item num="108" name="Gold Chandelier" />
    <Item num="109" name="Mana Crystal" />
    <Item num="110" name="Lesser Mana Potion" />
    <Item num="111" name="Band of Starpower" />
    <Item num="112" name="Flower of Fire" />
    <Item num="113" name="Magic Missile" />
    <Item num="114" name="Dirt Rod" />
    <Item num="115" name="Orb of Light" />
    <Item num="116" name="Meteorite" />
    <Item num="117" name="Meteorite Bar" />
    <Item num="118" name="Hook" />
    <Item num="119" name="Flamarang" />
    <Item num="120" name="Molten Fury" />
    <Item num="121" name="Fiery Greatsword" />
    <Item num="122" name="Molten Pickaxe" />
    <Item num="123" name="Meteor Helmet" />
    <Item num="124" name="Meteor Suit" />
    <Item num="125" name="Meteor Leggings" />
    <Item num="126" name="Bottled Water" />
    <Item num="127" name="Space Gun" />
    <Item num="128" name="Rocket Boots" />
    <Item num="129" name="Gray Brick" />
    <Item num="130" name="Gray Brick Wall" />
    <Item num="131" name="Red Brick" />
    <Item num="132" name="Red Brick Wall" />
    <Item num="133" name="Clay Block" />
    <Item num="134" name="Blue Brick" />
    <Item num="135" name="Blue Brick Wall" />
    <Item num="136" name="Chain Lantern" />
    <Item num="137" name="Green Brick" />
    <Item num="138" name="Green Brick Wall" />
    <Item num="139" name="Pink Brick" />
    <Item num="140" name="Pink Brick Wall" />
    <Item num="141" name="Gold Brick" />
    <Item num="142" name="Gold Brick Wall" />
    <Item num="143" name="Silver Brick" />
    <Item num="144" name="Silver Brick Wall" />
    <Item num="145" name="Copper Brick" />
    <Item num="146" name="Copper Brick Wall" />
    <Item num="147" name="Spike" />
    <Item num="148" name="Water Candle" />
    <Item num="149" name="Book" />
    <Item num="150" name="Cobweb" />
    <Item num="151" name="Necro Helmet" />
    <Item num="152" name="Necro Breastplate" />
    <Item num="153" name="Necro Greaves" />
    <Item num="154" name="Bone" />
    <Item num="155" name="Muramasa" />
    <Item num="156" name="Cobalt Shield" />
    <Item num="157" name="Aqua Scepter" />
    <Item num="158" name="Lucky Horseshoe" />
    <Item num="159" name="Shiny Red Balloon" />
    <Item num="160" name="Harpoon" />
    <Item num="161" name="Spiky Ball" />
    <Item num="162" name="Ball O' Hurt" />
    <Item num="163" name="Blue Moon" />
    <Item num="164" name="Handgun" />
    <Item num="165" name="Water Bolt" />
    <Item num="166" name="Bomb" />
    <Item num="167" name="Dynamite" />
    <Item num="168" name="Grenade" />
    <Item num="169" name="Sand Block" />
    <Item num="170" name="Glass" />
    <Item num="171" name="Sign" />
    <Item num="172" name="Ash Block" />
    <Item num="173" name="Obsidian" />
    <Item num="174" name="Hellstone" />
    <Item num="175" name="Hellstone Bar" />
    <Item num="176" name="Mud Block" />
    <Item num="181" name="Amethyst" />
    <Item num="180" name="Topaz" />
    <Item num="177" name="Sapphire" />
    <Item num="179" name="Emerald" />
    <Item num="178" name="Ruby" />
    <Item num="182" name="Diamond" />
    <Item num="183" name="Glowing Mushroom" />
    <Item num="184" name="Star" />
    <Item num="185" name="Ivy Whip" />
    <Item num="186" name="Breathing Reed" />
    <Item num="187" name="Flipper" />
    <Item num="188" name="Healing Potion" />
    <Item num="189" name="Mana Potion" />
    <Item num="190" name="Blade of Grass" />
    <Item num="191" name="Thorn Chakram" />
    <Item num="192" name="Obsidian Brick" />
    <Item num="193" name="Obsidian Skull" />
    <Item num="194" name="Mushroom Grass Seeds" />
    <Item num="195" name="Jungle Grass Seeds" />
    <Item num="196" name="Wooden Hammer" />
    <Item num="197" name="Star Cannon" />
    <Item num="198" name="Blue Phaseblade" />
    <Item num="199" name="Red Phaseblade" />
    <Item num="200" name="Green Phaseblade" />
    <Item num="201" name="Purple Phaseblade" />
    <Item num="202" name="White Phaseblade" />
    <Item num="203" name="Yellow Phaseblade" />
    <Item num="204" name="Meteor Hamaxe" />
    <Item num="205" name="Empty Bucket" />
    <Item num="206" name="Water Bucket" />
    <Item num="207" name="Lava Bucket" />
    <Item num="208" name="Jungle Rose" />
    <Item num="209" name="Stinger" />
    <Item num="210" name="Vine" />
    <Item num="211" name="Feral Claws" />
    <Item num="212" name="Anklet of the Wind" />
    <Item num="213" name="Staff of Regrowth" />
    <Item num="214" name="Hellstone Brick" />
    <Item num="215" name="Whoopie Cushion" />
    <Item num="216" name="Shackle" />
    <Item num="217" name="Molten Hamaxe" />
    <Item num="218" name="Flamelash" />
    <Item num="219" name="Phoenix Blaster" />
    <Item num="220" name="Sunfury" />
    <Item num="221" name="Hellforge" />
    <Item num="222" name="Clay Pot" />
    <Item num="223" name="Nature's Gift" />
    <Item num="224" name="Bed" />
    <Item num="225" name="Silk" />
    <Item num="226" name="Lesser Restoration Potion" />
    <Item num="227" name="Restoration Potion" />
    <Item num="228" name="Jungle Hat" />
    <Item num="229" name="Jungle Shirt" />
    <Item num="230" name="Jungle Pants" />
    <Item num="231" name="Molten Helmet" />
    <Item num="232" name="Molten Breastplate" />
    <Item num="233" name="Molten Greaves" />
    <Item num="234" name="Meteor Shot" />
    <Item num="235" name="Sticky Bomb" />
    <Item num="236" name="Black Lens" />
    <Item num="237" name="Sunglasses" />
    <Item num="238" name="Wizard Hat" />
    <Item num="239" name="Top Hat" />
    <Item num="240" name="Tuxedo Shirt" />
    <Item num="241" name="Tuxedo Pants" />
    <Item num="242" name="Summer Hat" />
    <Item num="243" name="Bunny Hood" />
    <Item num="244" name="Plumber's Hat" />
    <Item num="245" name="Plumber's Shirt" />
    <Item num="246" name="Plumber's Pants" />
    <Item num="247" name="Hero's Hat" />
    <Item num="248" name="Hero's Shirt" />
    <Item num="249" name="Hero's Pants" />
    <Item num="250" name="Fish Bowl" />
    <Item num="251" name="Archaeologist's Hat" />
    <Item num="252" name="Archaeologist's Jacket" />
    <Item num="253" name="Archaeologist's Pants" />
    <Item num="254" name="Black Dye" />
    <Item num="255" name="Green Dye" />
    <Item num="256" name="Ninja Hood" />
    <Item num="257" name="Ninja Shirt" />
    <Item num="258" name="Ninja Pants" />
    <Item num="259" name="Leather" />
    <Item num="260" name="Red Hat" />
    <Item num="261" name="Goldfish" />
    <Item num="262" name="Robe" />
    <Item num="263" name="Robot Hat" />
    <Item num="264" name="Gold Crown" />
    <Item num="265" name="Hellfire Arrow" />
    <Item num="266" name="Sandgun" />
    <Item num="267" name="Guide Voodoo Doll" />
    <Item num="268" name="Diving Helmet" />
    <Item num="269" name="Familiar Shirt" />
    <Item num="270" name="Familiar Pants" />
    <Item num="271" name="Familiar Wig" />
    <Item num="272" name="Demon Scythe" />
    <Item num="273" name="Night's Edge" />
    <Item num="274" name="Dark Lance" />
    <Item num="275" name="Coral" />
    <Item num="276" name="Cactus" />
    <Item num="277" name="Trident" />
    <Item num="278" name="Silver Bullet" />
    <Item num="279" name="Throwing Knife" />
    <Item num="280" name="Spear" />
    <Item num="281" name="Blowpipe" />
    <Item num="282" name="Glowstick" />
    <Item num="283" name="Seed" />
    <Item num="284" name="Wooden Boomerang" />
    <Item num="285" name="Aglet" />
    <Item num="286" name="Sticky Glowstick" />
    <Item num="287" name="Poisoned Knife" />
    <Item num="288" name="Obsidian Skin Potion" />
    <Item num="289" name="Regeneration Potion" />
    <Item num="290" name="Swiftness Potion" />
    <Item num="291" name="Gills Potion" />
    <Item num="292" name="Ironskin Potion" />
    <Item num="293" name="Mana Regeneration Potion" />
    <Item num="294" name="Magic Power Potion" />
    <Item num="295" name="Featherfall Potion" />
    <Item num="296" name="Spelunker Potion" />
    <Item num="297" name="Invisibility Potion" />
    <Item num="298" name="Shine Potion" />
    <Item num="299" name="Night Owl Potion" />
    <Item num="300" name="Battle Potion" />
    <Item num="301" name="Thorns Potion" />
    <Item num="302" name="Water Walking Potion" />
    <Item num="303" name="Archery Potion" />
    <Item num="304" name="Hunter Potion" />
    <Item num="305" name="Gravitation Potion" />
    <Item num="306" name="Gold Chest" />
    <Item num="307" name="Daybloom Seeds" />
    <Item num="308" name="Moonglow Seeds" />
    <Item num="309" name="Blinkroot Seeds" />
    <Item num="310" name="Deathweed Seeds" />
    <Item num="311" name="Waterleaf Seeds" />
    <Item num="312" name="Fireblossom Seeds" />
    <Item num="313" name="Daybloom" />
    <Item num="314" name="Moonglow" />
    <Item num="315" name="Blinkroot" />
    <Item num="316" name="Deathweed" />
    <Item num="317" name="Waterleaf" />
    <Item num="318" name="Fireblossom" />
    <Item num="319" name="Shark Fin" />
    <Item num="320" name="Feather" />
    <Item num="321" name="Tombstone" />
    <Item num="322" name="Mime Mask" />
    <Item num="323" name="Antlion Mandible" />
    <Item num="324" name="Illegal Gun Parts" />
    <Item num="325" name="The Doctor's Shirt" />
    <Item num="326" name="The Doctor's Pants" />
    <Item num="327" name="Golden Key" />
    <Item num="328" name="Shadow Chest" />
    <Item num="329" name="Shadow Key" />
    <Item num="330" name="Obsidian Brick Wall" />
    <Item num="331" name="Jungle Spores" />
    <Item num="332" name="Loom" />
    <Item num="333" name="Piano" />
    <Item num="334" name="Dresser" />
    <Item num="335" name="Bench" />
    <Item num="336" name="Bathtub" />
    <Item num="337" name="Red Banner" />
    <Item num="338" name="Green Banner" />
    <Item num="339" name="Blue Banner" />
    <Item num="340" name="Yellow Banner" />
    <Item num="341" name="Lamp Post" />
    <Item num="342" name="Tiki Torch" />
    <Item num="343" name="Barrel" />
    <Item num="344" name="Chinese Lantern" />
    <Item num="345" name="Cooking Pot" />
    <Item num="346" name="Safe" />
    <Item num="347" name="Skull Lantern" />
    <Item num="348" name="Trash Can" />
    <Item num="349" name="Candelabra" />
    <Item num="350" name="Pink Vase" />
    <Item num="351" name="Mug" />
    <Item num="352" name="Keg" />
    <Item num="353" name="Ale" />
    <Item num="354" name="Bookcase" />
    <Item num="355" name="Throne" />
    <Item num="356" name="Bowl" />
    <Item num="357" name="Bowl of Soup" />
    <Item num="358" name="Toilet" />
    <Item num="359" name="Grandfather Clock" />
    <Item num="360" name="Statue" />
    <Item num="361" name="Goblin Battle Standard" />
    <Item num="362" name="Tattered Cloth" />
    <Item name="Silver Broadsword" />
    <Item name="Silver Shortsword" />
    <Item name="Gold Broadsword" />
    <Item name="Gold Shortsword" />
    <Item name="Copper Broadsword" />
    <Item name="Copper Shortsword" />
    <Item name="Silver Bow" />
    <Item name="Gold Bow" />
    <Item name="Copper Bow" />
    <Item name="Copper Hammer" />
    <Item name="Silver Hammer" />
    <Item name="Gold Hammer" />
  </Items>
</Settings>
